/* Full Project CSS start */

.App {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;

  min-height: 100vh;
  font-family: "nidas";
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font-family: "Lombok";
  font-weight: bolder;
}

h1 {
  font-family: "Lombok";
  font-weight: bolder;
  margin-bottom: 2rem;
}

.component-bg {
  background-color: rgb(33,37,41,0.8);
  backdrop-filter: blur(10px) opacity(90%);
}

.progress-text{
 margin-top: 1rem;
}

/* Full Project CSS end */
/* Navbar CSS Start */

.navbar,
.bg-dark {
  max-width: 100% !important;
  --bs-bg-opacity: 0.9;
}

.nav-link{
color: rgba(255,255,255,.85) !important;
}

.nav-link:hover{
  color: rgba(255,255,255,1) !important;
  }
.social-links {
  flex-direction: row !important;
}

@media only screen and (max-width: 600px) {
  .navbar-nav {
    grid-gap: 1rem;
    flex-direction: row;
    justify-content: center !important;
  }
}

/* Navbar CSS end */
/* Team Member CSS start */

.Syndicure:hover + .syndicure-bio,
.CineNERD:hover + .cinenerd-bio,
.MeltedRope:hover + .meltedrope-bio {
  display: block;
}

@media only screen and (max-width: 600px) {
  .syndicure-bio {
    display: none;
    grid-column: 1 !important;
    grid-row: 2;
  }

  .cinenerd-bio {
    display: none;
    grid-column: 1 !important;
    grid-row: 3 !important;
  }

  .meltedrope-bio {
    display: none;
    grid-column: 1 !important;
    grid-row: 4 !important;
  }
}
/* Team Member CSS end */
/* Game Planets CSS Start */

.main {
  min-height: 100vh;
}