body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./Background.png");
  background-size:auto;
  background-repeat: no-repeat;
  /* background-image: url('https://imagedelivery.net/RT_RPMu352DnmQo9WAcrJw/bc3ae2d4-384a-46aa-3f83-f482633a6f00/backgrounddesktop'); */
  color: white !important; 
  max-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "nidas";
  src: local("nidas"),
   url("./Fonts/nidas.woff") format("truetype");
  font-weight: bolder;
  }

@font-face {
    font-family: "Lombok";
    src: local("Lombok"),
     url("./Fonts/Lombok.otf") format("truetype");
    font-weight: bolder;
    }